<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.peterklipfel.cordova.sensors"
      version="0.3.9-dev">

    <name>Sensors</name>
    <description>Cordova Sensor Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,sensors,sensor</keywords>
    <repo>git@github.com:peterklipfel/cordova-plugin-sensors.git</repo>

    <!-- android -->
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/*">
        </config-file>

    </platform>


</plugin>